@{
    Layout = "~/Views/Shared/MasterTemplate.cshtml";
    @model List<BankLib.BankTransaction>
    var name = Session["username"];
}

<div class="container"  style="margin-top: 100px">
    <div class="row col-md-6 col-md-offset-3">
        <h3>@name Transactions </h3><hr />
        <table class="table">
            <tr>
                <th>
                    Amount
                </th>
                <th>
                    Type
                </th>
                <th>
                    Date
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="export" class="btn btn-primary" onclick="location.href='@Url.Action("GenerateCsv", "Transaction")'" />
    </div>
</div>



